{% extends 'base.html.twig' %}

{% block body %}
    <div class="panel-body" ng-controller="ControladorPrincipal">
        <div class="col-md-6 col-md-offset-3">
            <form method="POST">
                <div class="form-group">
                    <label for="name">Nombre:</label>
                    <input ng-model="form.name" type="text" class="form-control" id="name" name="name" >
                </div>
                <div class="form-group">
                    <label for="email">Correo:</label>
                    <input ng-model="form.email" type="text" class="form-control" id="email" name="email" >
                </div>
                <div class="form-group">
                    <label for="cell_phone">Telefono:</label>
                    <input ng-model="form.phone" type="text" class="form-control" id="phone" name="phone">
                </div>
                <div class="form-group">
                    <label for="birth_date">Mensaje:</label>
                    <input ng-model="form.message" type="text" class="form-control" id="message" name="message">
                </div>
                <button class="btn btn-primary" ng-click="guardar()">Guardar</button>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        angular
            .module("formularios", [])
            .controller("ControladorPrincipal", ["$scope", "$http", function($scope, $http){
                $scope.form = {};

                $scope.guardar = function(){
                    console.log($scope.form);
                    $http.post("http://localhost:8000/guardar", angular.toJson($scope.form))
                        .then(function(respuesta){

                            console.log("Petición terminada. La respuesta es: ", angular.fromJson(respuesta.data));

                            $scope.form = {};
                        });
                };
            }]);
    </script>
{% endblock %}


